.gray-border {
    border: 2px solid #dee2e6;
}
.header-active {
    color:yellowgreen;
}
.header-active:hover {
    color:yellowgreen;
}
.header-inactive {
    color:#007bff;
}
.page-numbers {
    display:inline;
}
.margin-left {
    margin-left: 15px;
}
.margin-right {
    margin-right: 15px;
}
.margin-leftright {
    margin-left: 8px;
    margin-right: 8px;
}
.table-container {
    width: 1100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ten {width: 10%;}
.fifteen {width: 15%;}
.twenty {width: 20%;}
.thirty {width: 30%;}
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
td{
    vertical-align: middle !important;
}
.table-content {
    table-layout:fixed !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table-content tbody tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.error {
    color: red;
    border-color: red;
}

.inline-input {
    display:inline-block;
    width:200px;
}