<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <style>
        .gray-border {border: 2px solid #dee2e6;}
        .header-active {color:yellowgreen;}
        .header-active:hover {color:yellowgreen;}
        .header-inactive {color:#007bff;}
    </style>

</head>
<body>

    <div class="container my-2">
        <h1>Lista studentów:</h1>

        <table class = "table table-striped table-responsive-md gray-border">
            <thead>
            <tr>
                <th>
                    <a th:class="|header-${sortField == 'firstName' ? 'active' : 'inactive'}|"
                       th:href="@{'/students/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${sortField == 'firstName' ? reverseSortDir : 'asc'}}">Imię</a>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'secondName' ? 'active' : 'inactive'}|"
                       th:href="@{'/students/page/' + ${currentPage} + '?sortField=secondName&sortDir=' + ${sortField == 'secondName' ? reverseSortDir : 'asc'}}">Nazwisko</a>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'age' ? 'active' : 'inactive'}|"
                       th:href="@{'/students/page/' + ${currentPage} + '?sortField=age&sortDir=' + ${sortField == 'age' ? reverseSortDir : 'asc'}}">Wiek</a>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'email' ? 'active' : 'inactive'}|"
                       th:href="@{'/students/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${sortField == 'email' ? reverseSortDir : 'asc'}}">Email</a>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'field' ? 'active' : 'inactive'}|"
                       th:href="@{'/students/page/' + ${currentPage} + '?sortField=field&sortDir=' + ${sortField == 'field' ? reverseSortDir : 'asc'}}">Kierunek</a>
                </th>
                <th>Akcje</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.secondName}"></td>
                    <td th:text="${student.age}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.field}"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
                <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div>
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/students/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/students/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/student/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>

    </div>
</body>
</html>