<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nauczyciele</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link rel="stylesheet"  href="/students-teachers.css">

</head>
<body>

    <div class="table-container">
        <a th:href = "@{/students}">Lista studentów</a>
        <h1>Lista nauczycieli:</h1>

        <a th:href = "@{/teachers/new}" class="btn btn-primary">Nowy nauczyciel</a>
        <br/><br/>

        <form action="#" th:action="@{/teachers/search}"  method="POST">

            <input type="text" th:value="${firstName}" name="firstName" placeholder="Imię" class="form-control" style="display:inline-block; width:200px;">
            <input type="text" th:value="${secondName}" name="secondName" placeholder="Nazwisko" class="form-control" style="display:inline-block; width:200px;">

            <button type="submit" class="btn btn-primary">Szukaj</button>
        </form>

        <table class = "table-content table gray-border">
            <colgroup>
                <col class="ten" />
                <col class="fifteen" />
                <col class="ten" />
                <col class="twenty" />
                <col class="fifteen" />
                <col class="thirty" />
            </colgroup>

            <thead>
            <tr>
                <th>
                    <a th:class="|header-${sortField == 'firstName' ? 'active' : 'inactive'}|"
                       th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${sortField == 'firstName' ? reverseSortDir : 'asc'}}">Imię</a>
                    <span th:if="${sortField == 'firstName' && sortDir == 'asc'}" class="header-active">▼</span>
                    <span th:if="${sortField == 'firstName' && sortDir == 'desc'}" class="header-active">▲</span>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'secondName' ? 'active' : 'inactive'}|"
                       th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=secondName&sortDir=' + ${sortField == 'secondName' ? reverseSortDir : 'asc'}}">Nazwisko</a>
                    <span th:if="${sortField == 'secondName' && sortDir == 'asc'}" class="header-active">▼</span>
                    <span th:if="${sortField == 'secondName' && sortDir == 'desc'}" class="header-active">▲</span>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'age' ? 'active' : 'inactive'}|"
                       th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=age&sortDir=' + ${sortField == 'age' ? reverseSortDir : 'asc'}}">Wiek</a>
                    <span th:if="${sortField == 'age' && sortDir == 'asc'}" class="header-active">▼</span>
                    <span th:if="${sortField == 'age' && sortDir == 'desc'}" class="header-active">▲</span>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'email' ? 'active' : 'inactive'}|"
                       th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${sortField == 'email' ? reverseSortDir : 'asc'}}">Email</a>
                    <span th:if="${sortField == 'email' && sortDir == 'asc'}" class="header-active">▼</span>
                    <span th:if="${sortField == 'email' && sortDir == 'desc'}" class="header-active">▲</span>
                </th>
                <th>
                    <a th:class="|header-${sortField == 'field' ? 'active' : 'inactive'}|"
                       th:href="@{'/teachers/page/' + ${currentPage} + '?sortField=subject&sortDir=' + ${sortField == 'subject' ? reverseSortDir : 'asc'}}">Przedmiot</a>
                    <span th:if="${sortField == 'field' && sortDir == 'asc'}" class="header-active">▼</span>
                    <span th:if="${sortField == 'field' && sortDir == 'desc'}" class="header-active">▲</span>
                </th>
                <th>Akcje</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="teacher : ${teachers}">
                    <td th:text="${teacher.firstName}"></td>
                    <td th:text="${teacher.secondName}"></td>
                    <td th:text="${teacher.age}"></td>
                    <td th:text="${teacher.email}"></td>
                    <td th:text="${teacher.subject}"></td>
                    <td>
                        <a th:href="@{/teachers/edit/{id}(id=${teacher.id})}" class="btn btn-primary">Edytuj</a>
                        <a th:href="@{/students/of/{teacherId}(teacherId=${teacher.id})}" class="btn btn-primary">Studenci</a>
                        <a th:href="@{/teachers/delete/{id}(id=${teacher.id})}" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:if = "${totalPages > 1}">
            <div>
                <div class="page-numbers margin-right">
                    Wszystkich wierszów: [[${totalItems}]]
                </div>
                <div class="page-numbers">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}" class="margin-leftright">
						<a th:if="${currentPage != i}" th:href="@{'/teachers/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
                </div>
                <div class="page-numbers margin-leftright">
                    &nbsp;
                    <a th:if="${currentPage < totalPages}" th:href="@{'/teachers/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Następna</a>
                    <span th:unless="${currentPage < totalPages}">Następna</span>
                </div>

                <div class="page-numbers">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/teacher/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Ostatnia</a>
                    <span th:unless="${currentPage < totalPages}">Ostatnia</span>
                </div>
            </div>
        </div>

    </div>
</body>
</html>